*~
.DS_Store

.idea
build
target
server
vendor/**
!vendor/vendor.json

npm-debug.log
yarn-error.log
lerna-debug.log
node_modules
lib
esm
es6
doc/xorm

.vscode/
.dart_tool/
.packages

ui/build
ui/node_modules
web/build
web/node_modules

conf/*.properties
generate.sh
generate.go

*.iml
.metadata
pubspec.lock

.flutter-plugins
.flutter-plugins-dependencies
